<a href="https://colab.research.google.com/github/SUNITHA123-THUMMA/sunitha-/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                                     **WEEK-04**
 N180091
 
 T.SUNITHA
 
 DATE:23-06-2022

1.Write a Pandas program to create and display a one-dimensional array-like
object containing an array of data using Pandas module.

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

2. Write a Pandas program to add, subtract, multiple and divide two Pandas
Series

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

3. Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
Original dictionary:
{&#39;a&#39;: 100, &#39;b&#39;: 200, &#39;c&#39;: 300, &#39;d&#39;: 400, &#39;e&#39;: 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

4. Write a Pandas program to change the data type of given a column or a
Series. 
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [ ]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

5. Write a Pandas program to sort a given Series. 
Sample Output:
Original Data Series: 0 100
1 200
2 python
3 300.12

4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object

In [ ]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

6. Write a Pandas program to change the order of index of a given series. 
Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64

In [ ]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

7. Write a Pandas program to get the positions of items of a given series in
another given series. 
Sample Output:
Original Series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
dtype: int64
0 1
1 3
2 5
3 7
4 10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

In [ ]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

8. Write a Pandas program to check the equality of two given series.
Sample Output:
Original Series:
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
Check 2 series are equal or not?
0 True
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
dtype: bool

In [ ]:
series1=pd.Series([1,8,7,5,6,5,3,4,7,1])
series2=pd.Series([1,8,7,5,6,5,3,4,7,1])
print("original series:")
print(series1)
print(series2)
print("Check 2 series are equal or not?")
print(series1 == series2)

original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

9. Make a Pandas DataFrame with two-dimensional list.

In [ ]:
lst = [['suni', 't', 25], ['siri', 'm', 30], 
       ['sam', 'v', 26], ['jam', 'a', 22]] 
      
df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'],dtype = float) 
print(df)

  FName LName   Age
0  suni     t  25.0
1  siri     m  30.0
2   sam     v  26.0
3   jam     a  22.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

10. Creating DataFrame from dict of n array/lists

In [ ]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
df = pd.DataFrame(data)
print(df)

  Category  Student_1  Student_2
0    Array         20         15
1    Stack         21         20
2    Queue         19         14

11. Creating Pandas dataframe using list of lists

In [ ]:
data = [['suni', 10], ['siri', 15], ['riya', 20]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])
print(df )

   Name  Age
0  suni   10
1  siri   15
2  riya   20

12. Creating a Pandas dataframe using list of tuples

In [ ]:
data = [('suni', 18, 9),
        ('siri', 15, 6),
        ('sneha', 17, 8),
        ('suma', 18, 7),
        ('Sandeep', 17, 5) ]

df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])
  
print(df)

      Name  Age  Score
0     suni   18      9
1     siri   15      6
2    sneha   17      8
3     suma   18      7
4  Sandeep   17      5

13. Create a Pandas DataFrame from List of Dicts

In [ ]:
data = [{'dsp': 'dataframe', 'wt': 'using', 'coa': 'list'},
        {'ior':10, 'For': 20, 'cd': 30}] 
 
df = pd.DataFrame(data) 
df

         dsp     wt   coa   ior   For    cd
0  dataframe  using  list   NaN   NaN   NaN
1        NaN    NaN   NaN  10.0  20.0  30.0

14. Convert list of nested dictionary into Pandas dataframe

In [ ]:
list = [
        {
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                   ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                   ],
        "Name": "Chunky Pandey"
        }
       ]
  
print(list)
rows = []
  
for data in list:
    data_row = data['Student']
    time = data['Name']
      
    for row in data_row:
        row['Name']= time
        rows.append(row)
        
df = pd.DataFrame(rows)
  
# using pivot_table
df = df.pivot_table(index ='Name', columns =['Grade'],
                        values =['Exam']).reset_index()
  
# Defining columns
df.columns =['Name', 'Maths', 'Physics', 'Chemistry']
  
# print dataframe
print(df)

[{'Student': [{'Exam': 90, 'Grade': 'a'}, {'Exam': 99, 'Grade': 'b'}, {'Exam': 97, 'Grade': 'c'}], 'Name': 'Paras Jain'}, {'Student': [{'Exam': 89, 'Grade': 'a'}, {'Exam': 80, 'Grade': 'b'}], 'Name': 'Chunky Pandey'}]
            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0

15. Creating a dataframe from Pandas series

In [ ]:
d =  pd.Series([10, 20, 30, 40])

df = pd.DataFrame(d)
df.columns=['numbers']
df

   numbers
0       10
1       20
2       30
3       40

16. Construct a DataFrame in Pandas using string data

In [ ]:
from io import StringIO
  
# wrap the string data in StringIO function
StringData = StringIO("""Date;Event;Cost
    10/2/2011;Music;10000
    11/2/2011;Poetry;12000
    12/2/2011;Theatre;5000
    13/2/2011;Comedy;8000
    """)

# read_csv() function
df = pd.read_csv(StringData, sep =";")

print(df)

            Date    Event   Cost
0      10/2/2011    Music  10000
1      11/2/2011   Poetry  12000
2      12/2/2011  Theatre   5000
3      13/2/2011   Comedy   8000

17. Reindexing in Pandas DataFrame

In [ ]:
import numpy as np
 
column=['a','b','c','d','e']
index=['A','B','C','D','E']
 
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
            columns=column, index=index)
 
print(df1)
 
print('\n\nDataframe after reindexing rows: \n',
df1.reindex(['B', 'D', 'A', 'C', 'E']))

          a         b         c         d         e
A  0.566151  0.378479  0.118233  0.026874  0.398317
B  0.965292  0.407598  0.096285  0.330164  0.904790
C  0.167124  0.505302  0.767007  0.105508  0.457146
D  0.956309  0.778183  0.501250  0.783277  0.169554
E  0.114672  0.972891  0.364967  0.561793  0.191757


Dataframe after reindexing rows:
           a         b         c         d         e
B  0.965292  0.407598  0.096285  0.330164  0.904790
D  0.956309  0.778183  0.501250  0.783277  0.169554
A  0.566151  0.378479  0.118233  0.026874  0.398317
C  0.167124  0.505302  0.767007  0.105508  0.457146
E  0.114672  0.972891  0.364967  0.561793  0.191757

18. Change column names and row indexes in Pandas DataFrame

In [ ]:
df=pd.DataFrame({"Name":['Tom','Nick','John','Peter'],
                 "Age":[15,26,17,28]})
  
df
df2 = df.rename({"Name":"Col_1","Age":"Col_2"}, axis='columns')
df3 = df.rename(index = lambda x: x + 10)

df2
df3

     Name  Age
10    Tom   15
11   Nick   26
12   John   17
13  Peter   28