<a href="https://colab.research.google.com/github/SUNITHA123-THUMMA/sunitha-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                                                                                **WEEK-05**
                                                                                 ID NO:N180091
                                                                                 NAME:T.Sunitha
                                                                                 date:30-06-2022

1. How to replace items that satisfy a condition without affecting the original array?
replace all odd numbers in arr with -1 without changing arr
Input:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
Desired Output:
out
#&gt; array([ 0, -1, 2, -1, 4, -1, 6, -1, 8, -1])
arr
#&gt; array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
import numpy as np 
 
a = np.array([ 0,1,  2,  3,  4,  5,  6,  7,  8,  9]) 
print("given array is",a)
 
odd_values = (a%2 == 1) 
a[odd_values] = -1  
a[a%2 == 1] = -1
print("expected array is",a)

given array is [0 1 2 3 4 5 6 7 8 9]
expected array is [ 0 -1  2 -1  4 -1  6 -1  8 -1]

2. How to extract items that satisfy a given condition from 1D array?
Extract all odd numbers from arr
Input:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
Desired output:
#&gt; array([1, 3, 5, 7, 9])

In [15]:
a = np.array([ 0,1,  2,  3,  4,  5,  6,  7,  8,  9]) 
print("given array is",a)
 
odd_values= (a%2 == 1) 
print("odd numbers in the above array",a[odd_values])

given array is [0 1 2 3 4 5 6 7 8 9]
odd numbers in the above array [1 3 5 7 9]

3. How to stack two arrays vertically and horizontally ?
Stack arrays a and b vertically
Input
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
Desired Output:
#&gt; array([[0, 1, 2, 3, 4],
#&gt; [5, 6, 7, 8, 9],
#&gt; [1, 1, 1, 1, 1],
#&gt; [1, 1, 1, 1, 1]])
#&gt; array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
#&gt; [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [29]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
print("array",a)
print(b)


a = np.arange(10).reshape(2,-1)

b = np.repeat(1, 10).reshape(2,-1)
c=np.hstack([a, b])
print("array",c)

array [[0 1 2 3 4]
 [5 6 7 8 9]]
[[1 1 1 1 1]
 [1 1 1 1 1]]
array [[0 1 2 3 4 1 1 1 1 1]
 [5 6 7 8 9 1 1 1 1 1]]

4. How to extract all numbers between a given range from a numpy array?
Get all items between 5 and 10 from a.
Input:
a = np.array([2, 6, 1, 9, 10, 3, 27])

Desired Output:
(array([6, 9, 10]),)

In [38]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
a1=a[(a >= 5) & (a <= 10)]
a1

array([ 6,  9, 10])

5. How to create an empty and a full NumPy array?

In [52]:
a = np.empty([3, 4])
print("\n Empty Array")
print(a)

  
b= np.full([3, 4], 5, dtype=int)
print(" Full Array")
print(b)

 Empty Array
[[2.5e-323 2.5e-323 2.5e-323 2.5e-323]
 [2.5e-323 2.5e-323 2.5e-323 2.5e-323]
 [2.5e-323 2.5e-323 2.5e-323 2.5e-323]]
 Full Array
[[5 5 5 5]
 [5 5 5 5]
 [5 5 5 5]]

6. Create a Numpy array filled with all zeros.

In [54]:
a = np.zeros([3, 3], dtype = int) 
print("\nMatrix a : \n", a)

Matrix a :
 [[0 0 0]
 [0 0 0]
 [0 0 0]]

7. Create a Numpy array filled with all ones.

In [55]:
a = np.full([3, 3],1, dtype = int) 
print("\nMatrix a : \n", a)

Matrix a :
 [[1 1 1]
 [1 1 1]
 [1 1 1]]

8. Check whether a Numpy array contains a specified row.

In [59]:
arr = np.array([[1, 2, 3, 4, 5],
                   [6, 7, 8, 9, 10],
                   [11, 12, 13, 14, 15],
                   [16, 17, 18, 19, 20]
                   ])
print(arr)
print([1, 2, 3, 4, 5] in arr.tolist())
print([16, 17, 20, 19, 18] in arr.tolist())
print([3, 2, 5, -4, 5] in arr.tolist())
print([11, 12, 13, 14, 15] in arr.tolist())

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
True
False
False
True

9. How to Remove rows in Numpy array that contains non-numeric values?

In [60]:
n_arr = np.array([[10.5, 22.5, 3.8], 
                  [23.45, 50, 78.7],
                  [41, np.nan, np.nan]])
  
print("Given array:")
print(n_arr)
  
print("\nRemove all rows containing non-numeric elements")
print(n_arr[~np.isnan(n_arr).any(axis=1)])

Given array:
[[10.5  22.5   3.8 ]
 [23.45 50.   78.7 ]
 [41.     nan   nan]]

Remove all rows containing non-numeric elements
[[10.5  22.5   3.8 ]
 [23.45 50.   78.7 ]]

10. Remove single-dimensional entries from the shape of an array.

In [63]:
arr = np.array([[[2, 2, 2], [2, 2, 2]]])
   
print ("Input array : ",arr) 
print("Shape of input array : ", arr.shape)  
  
arr1 = np.squeeze(arr) 
  
print ("output squeezed array : ", arr1)
print("Shape of output array : ", arr1.shape)

Input array :  [[[2 2 2]
  [2 2 2]]]
Shape of input array :  (1, 2, 3)
output squeezed array :  [[2 2 2]
 [2 2 2]]
Shape of output array :  (2, 3)

11. Find the number of occurrences of a sequence in a NumPy array.

In [65]:
arr = np.array([[2, 8, 9, 4], 
                   [9, 4, 9, 4],
                   [4, 5, 9, 7],
                   [2, 9, 4, 3]])
print(arr)
  
output = repr(arr).count("9, 4")
  
print(output)

[[2 8 9 4]
 [9 4 9 4]
 [4 5 9 7]
 [2 9 4 3]]
4

12. Find the most frequent value in a NumPy array.

In [66]:
x = np.array([1,4,3,4,5,4,2,1,4,1])
print("Original array:")
print(x)
  
print("Most frequent value in the above array:")
print(np.bincount(x).argmax())

Original array:
[1 4 3 4 5 4 2 1 4 1]
Most frequent value in the above array:
4

13. Combining a one and a two-dimensional NumPy Array.

In [67]:
num_1d = np.arange(5)
print("One dimensional array:")
print(num_1d)
  
num_2d = np.arange(10).reshape(2,5)
print("\nTwo dimensional array:")
print(num_2d)
  
for a, b in np.nditer([num_1d, num_2d]):
    print("%d:%d" % (a, b),)

One dimensional array:
[0 1 2 3 4]

Two dimensional array:
[[0 1 2 3 4]
 [5 6 7 8 9]]
0:0
1:1
2:2
3:3
4:4
0:5
1:6
2:7
3:8
4:9