<a href="https://colab.research.google.com/github/SUNITHA123-THUMMA/sunitha-/blob/main/week-07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                        **WEEK-07**
ID NO:N180091

NAME:T.Sunitha

DATE:14-07-2022

1. Take this dataset and What would happen if we wanted to try and
compute the mean of numbers?

df = pd.DataFrame({&quot;numbers&quot;: [&quot;#23&quot;, &quot;#24&quot;, &quot;#18&quot;, &quot;#14&quot;, &quot;#12&quot;, &quot;#10&quot;, &quot;#35&quot;],

&quot;nums&quot;: [&quot;23&quot;, &quot;24&quot;, &quot;18&quot;, &quot;14&quot;, np.nan, &quot;XYZ&quot;, &quot;35&quot;],

&quot;colors&quot;: [&quot;green&quot;, &quot;red&quot;, &quot;yellow&quot;, &quot;orange&quot;, &quot;purple&quot;, &quot;blue&quot;, &quot;pink&quot;],

&quot;other_column&quot;: [0, 1, 0, 2, 1, 0, 2]})

It throws an error!
Can you figure out why?
Hint
When looking at error messages, start at the very bottom.

String Methods
Our solution to the previous exercise was to remove the # by using
the replace string method: int(c2n.replace(&quot;#&quot;, &quot;&quot;)).

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"numbers": ["#23", "#24","#18","#14","#12", "#10", "#35"],
"nums": ["23","24","18","14", np.nan,"XYZ","35"],
"colors": ["green", "red", "yellow","orange","purple","blue", "pink"],
"other_column": [0, 1, 0, 2, 1, 0, 2]})
print(df)

  numbers nums  colors  other_column
0     #23   23   green             0
1     #24   24     red             1
2     #18   18  yellow             0
3     #14   14  orange             2
4     #12  NaN  purple             1
5     #10  XYZ    blue             0
6     #35   35    pink             2

In [2]:
df['numbers'] = df['numbers'].str.replace('#','0')
print(df)

  numbers nums  colors  other_column
0     023   23   green             0
1     024   24     red             1
2     018   18  yellow             0
3     014   14  orange             2
4     012  NaN  purple             1
5     010  XYZ    blue             0
6     035   35    pink             2

2. Type Conversions
In our example above, the dtype of the numbers_str column shows that pandas
still treats it as a string even after we have removed the &quot;#&quot;.

 We need to convert this column to numbers.

In [3]:
df["numbers"]=pd.to_numeric(df["numbers"])
print(df.dtypes)

numbers          int64
nums            object
colors          object
other_column     int64
dtype: object


3. Missing Data
Many datasets have missing data. In our example, we are missing an
element.
Many approaches have been developed to deal with missing data,

# drop all rows containing a missing observation

In [4]:
df.dropna()

   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
5       10  XYZ    blue             0
6       35   35    pink             2

In [5]:
df

   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
4       12  NaN  purple             1
5       10  XYZ    blue             0
6       35   35    pink             2

# fill the missing values with a specific value(with any related value)

In [6]:
df.fillna(0)

   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
4       12    0  purple             1
5       10  XYZ    blue             0
6       35   35    pink             2

 # use the _next_ valid observation to fill the missing data

In [7]:
df

   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
4       12  NaN  purple             1
5       10  XYZ    blue             0
6       35   35    pink             2

In [8]:
df.fillna(method="bfill")

   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
4       12  XYZ  purple             1
5       10  XYZ    blue             0
6       35   35    pink             2

 # use the _previous_ valid observation to fill missing data

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"numbers": ["#23", "#24","#18","#14","#12", "#10", "#35"],
"nums": ["23","24","18","14", np.nan,"XYZ","35"],
"colors": ["green", "red", "yellow","orange","purple","blue", "pink"],
"other_column": [0, 1, 0, 2, 1, 0, 2]})
df['numbers'] = df['numbers'].str.replace('#','0')
df["numbers"]=pd.to_numeric(df["numbers"])
print(df.dtypes)
print(df)

numbers          int64
nums            object
colors          object
other_column     int64
dtype: object
   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
4       12  NaN  purple             1
5       10  XYZ    blue             0
6       35   35    pink             2

In [10]:
df.fillna(method="ffill")

   numbers nums  colors  other_column
0       23   23   green             0
1       24   24     red             1
2       18   18  yellow             0
3       14   14  orange             2
4       12   14  purple             1
5       10  XYZ    blue             0
6       35   35    pink             2

4. Make a new column called colors_upper that contains the elements
of colors with all uppercase letters.

In [11]:
colors_upper=["red","blue","pink","yellow","orange","purple","green"]
df['colors_upper']=colors_upper
df['colors_upper'] = df['colors_upper'].str.upper()
print(df)

   numbers nums  colors  other_column colors_upper
0       23   23   green             0          RED
1       24   24     red             1         BLUE
2       18   18  yellow             0         PINK
3       14   14  orange             2       YELLOW
4       12  NaN  purple             1       ORANGE
5       10  XYZ    blue             0       PURPLE
6       35   35    pink             2        GREEN

5. Convert the column &quot;nums&quot; to a numeric type using pd.to_numeric and save it
to the DataFrame as &quot;nums_tonumeric&quot;.

In [12]:
df["nums"]=pd.to_numeric(df["nums"],errors='ignore')
print(df.dtypes)
df.to_csv('nums_tonumeric.csv')

numbers          int64
nums            object
colors          object
other_column     int64
colors_upper    object
dtype: object

The following examples show pandas DataFrame:

df = pd.DataFrame({&#39;points&#39;: [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],

&#39;assists&#39;: [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8],

&#39;rebounds&#39;: [7, 7, 4, 6, 3, 8, 9, 9, 12, 11, 8, 9]})

In [13]:
df = pd.DataFrame({'points': [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],

'assists': [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8],

'rebounds': [7, 7, 4, 6, 3, 8, 9, 9, 12, 11, 8, 9]})
print(df)

    points  assists  rebounds
0        4        2         7
1        4        5         7
2        7        4         4
3        8        7         6
4       12        7         3
5       13        8         8
6       15        5         9
7       18        4         9
8       22        5        12
9       23       11        11
10      23       13         8
11      25        8         9

1.perform data binning on the points variable using
the  qcut()  function with specific break marks, and also use
cut() function to binning.

In [14]:
pd.Series(pd.qcut(range(100), 4)).value_counts()

(-0.001, 24.75]    25
(24.75, 49.5]      25
(49.5, 74.25]      25
(74.25, 99.0]      25
dtype: int64

In [15]:
df['bins'] = pd.cut(x=df['points'], bins=[1, 5, 10, 15,20, 25])
print(df)
print(df['bins'].unique())

    points  assists  rebounds      bins
0        4        2         7    (1, 5]
1        4        5         7    (1, 5]
2        7        4         4   (5, 10]
3        8        7         6   (5, 10]
4       12        7         3  (10, 15]
5       13        8         8  (10, 15]
6       15        5         9  (10, 15]
7       18        4         9  (15, 20]
8       22        5        12  (20, 25]
9       23       11        11  (20, 25]
10      23       13         8  (20, 25]
11      25        8         9  (20, 25]
[(1, 5], (5, 10], (10, 15], (15, 20], (20, 25]]
Categories (5, interval[int64, right]): [(1, 5] < (5, 10] < (10, 15] < (15, 20] < (20, 25]]

2. Perform Data Binning with Labels on above data
Frame(with 5 labels)

In [16]:
df_new = df.rename(columns={'points': 'Col_1'})
print(df_new)

    Col_1  assists  rebounds      bins
0       4        2         7    (1, 5]
1       4        5         7    (1, 5]
2       7        4         4   (5, 10]
3       8        7         6   (5, 10]
4      12        7         3  (10, 15]
5      13        8         8  (10, 15]
6      15        5         9  (10, 15]
7      18        4         9  (15, 20]
8      22        5        12  (20, 25]
9      23       11        11  (20, 25]
10     23       13         8  (20, 25]
11     25        8         9  (20, 25]

In [17]:
print(df.rename(columns={'points': 'Col_2', 'rebounds': 'Col_3'}))

    Col_2  assists  Col_3      bins
0       4        2      7    (1, 5]
1       4        5      7    (1, 5]
2       7        4      4   (5, 10]
3       8        7      6   (5, 10]
4      12        7      3  (10, 15]
5      13        8      8  (10, 15]
6      15        5      9  (10, 15]
7      18        4      9  (15, 20]
8      22        5     12  (20, 25]
9      23       11     11  (20, 25]
10     23       13      8  (20, 25]
11     25        8      9  (20, 25]

In [18]:
print(df.rename(columns=str.upper))

    POINTS  ASSISTS  REBOUNDS      BINS
0        4        2         7    (1, 5]
1        4        5         7    (1, 5]
2        7        4         4   (5, 10]
3        8        7         6   (5, 10]
4       12        7         3  (10, 15]
5       13        8         8  (10, 15]
6       15        5         9  (10, 15]
7       18        4         9  (15, 20]
8       22        5        12  (20, 25]
9       23       11        11  (20, 25]
10      23       13         8  (20, 25]
11      25        8         9  (20, 25]

In [19]:
print(df.rename(columns=lambda s: s*2))

    pointspoints  assistsassists  reboundsrebounds  binsbins
0              4               2                 7    (1, 5]
1              4               5                 7    (1, 5]
2              7               4                 4   (5, 10]
3              8               7                 6   (5, 10]
4             12               7                 3  (10, 15]
5             13               8                 8  (10, 15]
6             15               5                 9  (10, 15]
7             18               4                 9  (15, 20]
8             22               5                12  (20, 25]
9             23              11                11  (20, 25]
10            23              13                 8  (20, 25]
11            25               8                 9  (20, 25]

In [20]:
print(df.add_prefix('X_'))

    X_points  X_assists  X_rebounds    X_bins
0          4          2           7    (1, 5]
1          4          5           7    (1, 5]
2          7          4           4   (5, 10]
3          8          7           6   (5, 10]
4         12          7           3  (10, 15]
5         13          8           8  (10, 15]
6         15          5           9  (10, 15]
7         18          4           9  (15, 20]
8         22          5          12  (20, 25]
9         23         11          11  (20, 25]
10        23         13           8  (20, 25]
11        25          8           9  (20, 25]

3. using the CarDekho dataset, containing data about used cars listed on
the platform.

* Year’ is the year in which the car was purchased.
* ‘Selling_Price’ is the price the owner wants to sell the car at.
* ‘Present_Price’ is the current ex-showroom price of the car.
* ‘Owner’ defines the number of owners the car has previously had, before
this car was put up on the platform.
 *  How cut and qcut would handle an ‘imperfect’ dataset.
[by specifying the number of bins directly
let pandas do the work of calculating equal-sized bins
use manually specify the bin edges as we desire. ]

In [ ]:
import pandas as pd
df= pd.read_csv('C:\Users\SUNEETHA\Desktop\e2 sem2\DSP\CAR DETAILS FROM CAR DEKHO.csv')
pd.cut(f.year,bin=5,right=True).head()
pd.qcut(f.year,q=5).head(8)